@import '../helper/variable';

.Navigate-btn{
  width: 100px;
  margin: 0px;
  padding: 5px;
  background-color: #009c95;
  color: #fff;
  border: none;
  font-size: $font-size-medium;
  border-radius: 5px;
  &:hover{
    background-color: teal;
  }
  &:disabled{
    opacity: 0.5;
  }
}

.Navigate-btn-left{
  @extend .Navigate-btn;
}

.Navigate-btn-right{
  @extend .Navigate-btn;
  float: right;
}

.Navigate-page-num{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
