@import '../helper/variable';

.Post {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #FAFAFA;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  h1{
    font-size: 30px;
  }

  p {
    font-size: $font-size-medium;
  }
}
