@import '../helper/animation';

.Warning-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.Warning {
  white-space: nowrap;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
